<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.busylee.devpanel" >

    <application>
        <activity
            android:theme="@style/DevPanel.BaseTheme"
            android:name=".ui.DevPanelActivity"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label="@string/devpanel_activity_title" >
        </activity>
    </application>

</manifest>
